[Unit]
Description=Argus PostgreSQL backup

[Service]
Type=oneshot
User=argus
Group=argus
ExecStart=/usr/bin/flock -n /tmp/argus-backup-db.lock /usr/local/bin/argus-backup-db.sh
