[Unit]
Description=Argus PostgreSQL backup

[Service]
Type=oneshot
User=argus
Group=argus
TimeoutStartSec=30min
ExecStart=/usr/local/bin/argus-run-background-job.sh argus-backup-db /usr/local/bin/argus-backup-db.sh
