[Unit]
Description=Argus check Gmail

[Service]
Type=oneshot
User=argus
Group=argus
WorkingDirectory=/opt/argus
Environment="PATH=/opt/argus/.venv/bin"
ExecStart=/usr/bin/flock -n /tmp/argus-check-gmail.lock /opt/argus/.venv/bin/python manage.py check_gmail --max-results 25
