{% extends "admin/index.html" %}
{% load i18n argus_admin %}

{% block content_title %}{% trans "Overview" %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item">{% trans "Overview" %}</li>
    </ol>
{% endblock %}

{% block content %}
    {% argus_dashboard_counters as counters %}
    <div class="row">
        {% for item in counters %}
            <div class="col-lg-3 col-6">
                <a class="small-box bg-{{ item.class }}" href="{{ item.url }}">
                    <div class="inner">
                        <h3>{{ item.value }}</h3>
                        <p>{{ item.label }}</p>
                    </div>
                    <div class="icon">
                        <i class="{{ item.icon }}"></i>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ block.super }}
{% endblock %}
